PORT=8081
NODE_ENV=development

# Service URLs
AUTH_SERVICE_URL=http://localhost:4003
PRODUCTS_SERVICE_URL=http://localhost:4001
INVENTORY_SERVICE_URL=http://localhost:4002
USER_SERVICE_URL=http://localhost:4004
EMAIL_SERVICE_URL=http://localhost:4005
CART_SERVICE_URL=http://localhost:4006
ORDER_SERVICE_URL=http://localhost:4007
