PORT=4005
SERVICE_NAME="EMAIL SERVICE"
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/email_db?schema=public"

SMTP_HOST=localhost
SMTP_PORT=1025
DEFAULT_EMAIL=admin@gmail.com