PORT=4007
SERVICE_NAME="ORDER SERVICE"
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/order_db?schema=public"

INVENTORY_SERVICE_URL=http://localhost:4002
CART_SERVICE_URL=http://localhost:4006
EMAIL_SERVICE_URL=http://localhost:4005
PRODUCT_SERVICE_URL=http://localhost:4001